{% block navbarside %}
<div class="sidebar">
   <nav class="sidebar-nav ps ps--active-y">
      <ul class="nav">
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_default_index') }}">
            <i class="nav-icon icon-speedometer"></i> Dashboard
            <span class="badge badge-info">NEW</span>
            </a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_default_photos') }}">
            <i class="nav-icon icon-drop"></i> Photo's</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_default_categorize') }}">
            <i class="nav-icon icon-pencil"></i> Categorize</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_default_share') }}">
            <i class="nav-icon icon-pencil"></i> Share</a>
         </li>
         <li class="nav-title">Settings</li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_settings_index') }}">
            <i class="nav-icon icon-puzzle"></i> General settings</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('edit_index') }}">
            <i class="nav-icon icon-puzzle"></i> RSS settings</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/settings/api">
            <i class="nav-icon icon-puzzle"></i> API Settings</a>
         </li>
         <li class="nav-title">API connections</li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_api_flickr') }}">
            <i class="nav-icon icon-puzzle"></i> Flickr</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_api_facebook') }}">
            <i class="nav-icon icon-puzzle"></i> Facebook</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_api_twitter') }}">
            <i class="nav-icon icon-puzzle"></i> Twitter</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="{{ path('dh_main_api_google') }}">
            <i class="nav-icon icon-puzzle"></i> Google</a>
         </li>
   </nav>
   <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
{% endblock %}
