{% extends 'base.html.twig' %}

{% block main %}
<main class="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active">Dashboard</li>
    <li class="breadcrumb-item active">General settings</li>
    <li class="breadcrumb-item active">Crawler settings</li>
    <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group">
        <a class="btn" href="{{path('dh_settings_index')}}">
          <i class="fa fa-cogs"></i>
          &nbsp;Settings</a>
      </div>
    </li>
  </ol>
  <div class="container-fluid">
    <div id="ui-view">
      <div>
        <div class="animated fadeIn">
          <div class="col-lg-12 col-xs-6">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i>
                Add/Edit Crawler settings
              </div>
              <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Productclass</th>
                      <th>Titleclass</th>
                      <th>Descriptionclass</th>
                      <th>Priceclass</th>
                      <th>Active</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for crawlersetting in crawlersettings %}
                      <tr>
                        <td><a href="{{ path('settings_crawler_show', { 'id': crawlersetting.id }) }}">{{ crawlersetting.id }}</a></td>
                        <td>{{ crawlersetting.name }}</td>
                        <td>{{ crawlersetting.productclass }}</td>
                        <td>{{ crawlersetting.titleclass }}</td>
                        <td>{{ crawlersetting.descriptionclass }}</td>
                        <td>{{ crawlersetting.priceclass }}</td>
                        <td>{% if crawlersetting.active %}Yes{% else %}No{% endif %}</td>
                        <td>
                          <ul style="list-style: none;">
                            <li style="margin-bottom: 5px;">
                              <button class="btn btn-block btn-primary" type="button">
                                <a href="{{ path('settings_crawler_show', { 'id': crawlersetting.id }) }}" style="color:white !important;">Edit</a>
                              </button>
                            </li>
                            <li style="margin-bottom: 5px;">
                              <button class="btn btn-block btn-danger" type="button">
                                <a href="{{ path('settings_crawler_delete', { 'id': crawlersetting.id }) }}" style="color:white !important;">Delete</a>
                              </button>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div class="row align-items-center">
                  <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary" type="button">
                      <a href="{{ path('settings_crawler_new') }}" style="color:white !important;">Add a new Crawler</a>
                    </button>
                  </div>
                  <div class="col-6 col-sm-4 col-md-2 mb-3 mb-xl-0">
                    <button class="btn btn-block btn-primary" type="button">
                      <a href="{{ path('dh_settings_runcrawler') }}" style="color:white !important;">Run Crawler</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
